@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.attribution {
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.outfit-p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(216, 15%, 48%)
}

.outfit-heading{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body{
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}