@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.figtree-header {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color:hsl(0, 0%, 7%);
}

.figtree-p {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    font-size: 16px;
}

button{
    background-color: hsl(47, 88%, 63%);
}
.color{
    color:hsl(0, 0%, 42%);
}